NodeRed/node-red-example.txt
[{"id":"62ad946c.e1845c","type":"mqtt in","z":"46c5d5c3.11db7c","name":"Temperature","topic":"iotChallenge/temp","qos":"2","broker":"40b0f68a.2475c8","x":283.5,"y":172,"wires":[["a9fab3c5.24263","3ca0d6c0.c9dd2a"]]},{"id":"a9fab3c5.24263","type":"debug","z":"46c5d5c3.11db7c","name":"","active":true,"console":"false","complete":"payload","x":465.5,"y":179,"wires":[]},{"id":"d02bf52a.323208","type":"switch","z":"46c5d5c3.11db7c","name":"Threshold","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"29","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":533,"y":341,"wires":[["d6bc13ac.179fa"],["61495a66.c81c04"]]},{"id":"9f2768c4.480cd8","type":"debug","z":"46c5d5c3.11db7c","name":"ALERT","active":true,"console":"false","complete":"payload","x":1111,"y":346,"wires":[]},{"id":"afe7f8fe.11f8d8","type":"twitter out","z":"46c5d5c3.11db7c","twitter":"","name":"Tweet","x":1140,"y":506,"wires":[]},{"id":"6692d466.d6311c","type":"function","z":"46c5d5c3.11db7c","name":"Tweet Text","func":"var newMsg = {payload: \"Temperatur ueberschritten! \" + msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":918,"y":351,"wires":[["9f2768c4.480cd8","440bc194.fcf6d"]]},{"id":"d6bc13ac.179fa","type":"switch","z":"46c5d5c3.11db7c","name":"not alerted yet","property":"alarm","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":737.5,"y":347,"wires":[["6692d466.d6311c"]]},{"id":"3ca0d6c0.c9dd2a","type":"function","z":"46c5d5c3.11db7c","name":"Init alarm state","func":"var state = global.get('alarm') || false;\nglobal.set('alarm', state);\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":245,"wires":[["d02bf52a.323208"]]},{"id":"440bc194.fcf6d","type":"function","z":"46c5d5c3.11db7c","name":"is alerted","func":"global.set('alarm', true);","outputs":1,"noerr":0,"x":1119,"y":407,"wires":[[]]},{"id":"44b81223.07aa6c","type":"function","z":"46c5d5c3.11db7c","name":"remove alert","func":"global.set('alarm', false);\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":548,"wires":[["12f03161.a7daff"]]},{"id":"12f03161.a7daff","type":"function","z":"46c5d5c3.11db7c","name":"Tweet Text","func":"var newMsg = {payload: \"Temperatur wieder normal! \" + msg.payload};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":728,"y":547,"wires":[["35519f60.5bc46"]]},{"id":"35519f60.5bc46","type":"debug","z":"46c5d5c3.11db7c","name":"ALERT","active":true,"console":"false","complete":"payload","x":890,"y":488,"wires":[]},{"id":"61495a66.c81c04","type":"switch","z":"46c5d5c3.11db7c","name":"","property":"alarm","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":522.5,"y":463,"wires":[["44b81223.07aa6c"]]},{"id":"40b0f68a.2475c8","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
